<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lonsun.mapper.StepInstanceEOMapper" >
  <resultMap id="BaseResultMap" type="cn.lonsun.entity.StepInstanceEO" >
    <id column="step_instance_id" property="stepInstanceId" jdbcType="DECIMAL" />
    <result column="step_id" property="stepId" jdbcType="DECIMAL" />
    <result column="step_nick_name" property="stepNickName" jdbcType="VARCHAR" />
    <result column="process_id" property="processId" jdbcType="DECIMAL" />
    <result column="next_step_ids" property="nextStepIds" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    step_instance_id, step_id, step_nick_name, process_id, next_step_ids
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.lonsun.entity.StepInstanceEOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oa_step_instance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from oa_step_instance
    where step_instance_id = #{stepInstanceId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from oa_step_instance
    where step_instance_id = #{stepInstanceId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="cn.lonsun.entity.StepInstanceEOExample" >
    delete from oa_step_instance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.lonsun.entity.StepInstanceEO" >
    insert into oa_step_instance (step_instance_id, step_id, step_nick_name, 
      process_id, next_step_ids)
    values (#{stepInstanceId,jdbcType=DECIMAL}, #{stepId,jdbcType=DECIMAL}, #{stepNickName,jdbcType=VARCHAR}, 
      #{processId,jdbcType=DECIMAL}, #{nextStepIds,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.lonsun.entity.StepInstanceEO" >
    insert into oa_step_instance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stepInstanceId != null" >
        step_instance_id,
      </if>
      <if test="stepId != null" >
        step_id,
      </if>
      <if test="stepNickName != null" >
        step_nick_name,
      </if>
      <if test="processId != null" >
        process_id,
      </if>
      <if test="nextStepIds != null" >
        next_step_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stepInstanceId != null" >
        #{stepInstanceId,jdbcType=DECIMAL},
      </if>
      <if test="stepId != null" >
        #{stepId,jdbcType=DECIMAL},
      </if>
      <if test="stepNickName != null" >
        #{stepNickName,jdbcType=VARCHAR},
      </if>
      <if test="processId != null" >
        #{processId,jdbcType=DECIMAL},
      </if>
      <if test="nextStepIds != null" >
        #{nextStepIds,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.lonsun.entity.StepInstanceEOExample" resultType="java.lang.Integer" >
    select count(*) from oa_step_instance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update oa_step_instance
    <set >
      <if test="record.stepInstanceId != null" >
        step_instance_id = #{record.stepInstanceId,jdbcType=DECIMAL},
      </if>
      <if test="record.stepId != null" >
        step_id = #{record.stepId,jdbcType=DECIMAL},
      </if>
      <if test="record.stepNickName != null" >
        step_nick_name = #{record.stepNickName,jdbcType=VARCHAR},
      </if>
      <if test="record.processId != null" >
        process_id = #{record.processId,jdbcType=DECIMAL},
      </if>
      <if test="record.nextStepIds != null" >
        next_step_ids = #{record.nextStepIds,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update oa_step_instance
    set step_instance_id = #{record.stepInstanceId,jdbcType=DECIMAL},
      step_id = #{record.stepId,jdbcType=DECIMAL},
      step_nick_name = #{record.stepNickName,jdbcType=VARCHAR},
      process_id = #{record.processId,jdbcType=DECIMAL},
      next_step_ids = #{record.nextStepIds,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.lonsun.entity.StepInstanceEO" >
    update oa_step_instance
    <set >
      <if test="stepId != null" >
        step_id = #{stepId,jdbcType=DECIMAL},
      </if>
      <if test="stepNickName != null" >
        step_nick_name = #{stepNickName,jdbcType=VARCHAR},
      </if>
      <if test="processId != null" >
        process_id = #{processId,jdbcType=DECIMAL},
      </if>
      <if test="nextStepIds != null" >
        next_step_ids = #{nextStepIds,jdbcType=VARCHAR},
      </if>
    </set>
    where step_instance_id = #{stepInstanceId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.lonsun.entity.StepInstanceEO" >
    update oa_step_instance
    set step_id = #{stepId,jdbcType=DECIMAL},
      step_nick_name = #{stepNickName,jdbcType=VARCHAR},
      process_id = #{processId,jdbcType=DECIMAL},
      next_step_ids = #{nextStepIds,jdbcType=VARCHAR}
    where step_instance_id = #{stepInstanceId,jdbcType=DECIMAL}
  </update>
</mapper>