<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lonsun.mapper.StepMapper" >
  <resultMap id="BaseResultMap" type="cn.lonsun.entity.Step" >
    <id column="step_id" property="stepId" jdbcType="DECIMAL" />
    <result column="step_name" property="stepName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    step_id, step_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.lonsun.entity.StepExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oa_step
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from oa_step
    where step_id = #{stepId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from oa_step
    where step_id = #{stepId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="cn.lonsun.entity.StepExample" >
    delete from oa_step
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.lonsun.entity.Step" >
    insert into oa_step (step_id, step_name)
    values (#{stepId,jdbcType=DECIMAL}, #{stepName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.lonsun.entity.Step" >
    insert into oa_step
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stepId != null" >
        step_id,
      </if>
      <if test="stepName != null" >
        step_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stepId != null" >
        #{stepId,jdbcType=DECIMAL},
      </if>
      <if test="stepName != null" >
        #{stepName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.lonsun.entity.StepExample" resultType="java.lang.Integer" >
    select count(*) from oa_step
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update oa_step
    <set >
      <if test="record.stepId != null" >
        step_id = #{record.stepId,jdbcType=DECIMAL},
      </if>
      <if test="record.stepName != null" >
        step_name = #{record.stepName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update oa_step
    set step_id = #{record.stepId,jdbcType=DECIMAL},
      step_name = #{record.stepName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.lonsun.entity.Step" >
    update oa_step
    <set >
      <if test="stepName != null" >
        step_name = #{stepName,jdbcType=VARCHAR},
      </if>
    </set>
    where step_id = #{stepId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.lonsun.entity.Step" >
    update oa_step
    set step_name = #{stepName,jdbcType=VARCHAR}
    where step_id = #{stepId,jdbcType=DECIMAL}
  </update>
</mapper>